@import "tailwindcss";
@import "@nuxt/ui";

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/bg-sm.webp");

  @media (min-width: 1024px) {
    background-image: url("/images/bg-lg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden font-roboto;
  }
}
